:root {
  /* theme colors */
  --background: #FFD7A8;
  --accent-1: rgba(300, 165, 0, 0.5);


  /* theme fonts */
  --title: 'Poller One', cursive;
  --txt: 'Red Rose', cursive;
  --scribble: 'Redacted Script', cursive;
}

* {
  background-color: var(--background);
  cursor: crosshair;
}
